@import "node_modules/bootstrap/scss/bootstrap";
@import "account";

$dark: #151719;
$light: #e9ecef;

.App {
  text-align: center;
  scroll-behavior: smooth;
}

.site-content {
  min-height: 100vh;
}

.custom-nav {
  background-color: $dark;
}

.custom-footer {
  background-color: $dark;
  color: $light;
  text-align: center;
}

.wellprofile-canvas {
  background: #252525;
  min-height: 100vh;
  width: 100%;
}
