// will delete later
@import 'node_modules/bootstrap/scss/bootstrap';

$dark: #151719;
$light: #e9ecef;

.App {
    text-align: center;
    scroll-behavior: smooth;
}

.site-content {
    min-height: 100vh;
}

.custom-nav {
    background-color: $dark;
}

.custom-footer {
    background-color: $dark;
    color: $light;
    text-align: center;
}

.wellprofile-canvas {
    background: #252525;
    min-height: 100vh;
    width: 100%;
}


// will delete later
// FRONTEND ONLY CODING CHALLENGE FILE

$light: #eceded;
$primary: #0070f3;
$danger: #ff6171;

//signin
.signin-page {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: $light;
    text-align: center !important;
}

.resetpassword-page {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: $light;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.errors-signin {
    color: $danger;
    padding-bottom: 1em;
}

.success {
    max-width: 100%;
}

// Account bar
.bi-person-fill {
    fill: $light;
}

.account-card {
    position: absolute;
    right: 1px;
    top: 4em;
    z-index: 10;
}

.user-profile {
    margin: auto;
    background-color: rgba($light, 0);
    border-radius: 50%;
    border-radius: 50%;
    padding: 5px;
    transition: background-color 0.1s linear;
    cursor: pointer;
}

.user-profile:hover {
    background-color: rgba($light, 0.25);
}

.user-profile.focus {
    background-color: rgba($light, 0.25);
}

.user-fixed-position {
    position: absolute;
    right: 1em;
    top: 1.3em;
    z-index: 1;
}

.user-profile {
    width: 10em;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}

// Account Credential Forms
// Password strength meter color for the different levels
$strength-colors: (
    darkred,
    orangered,
    orange,
    yellowgreen,
    green
);

// Gap width between strength meter bars
$strength-gap: 6px;

.form-container {
    bottom: 100px;
}

legend.form-label {
    font-size: 1.5rem;
    color: desaturate(darken($primary, 10%), 60%);
}

.form-control {
    font-size: 1rem;
}

.form-control.is-valid {
    background-image: none;
}

.form-control.is-invalid {
    background-image: none;
}

.form-hint {
    font-size: 0.6rem;
    line-height: 1.4;
    margin: -5px auto 5px;
    color: get-color(dark, 3);

    &.error {
        color: $danger;
        font-size: 0.8rem;
    }
}

button.btn {
    letter-spacing: 1px;
    font-size: 0.8rem;
    font-weight: 600;
}

.password-count {
    bottom: 16px;
    right: 10px;
    font-size: 1rem;
}

.strength-meter {
    position: relative;
    height: 3px;
    background: #ddd;
    margin: 7px 0;
    border-radius: 2px;

    // Dynamically create the gap effect
    &:before,
    &:after {
        content: '';
        height: inherit;
        background: transparent;
        display: block;
        border-color: #fff;
        border-style: solid;
        border-width: 0 $strength-gap 0;
        position: absolute;
        width: calc(20% + #{$strength-gap});
        z-index: 10;
    }

    // Dynamically create the gap effect
    &:before {
        left: calc(20% - #{($strength-gap / 2)});
    }

    // Dynamically create the gap effect
    &:after {
        right: calc(20% - #{($strength-gap / 2)});
    }
}

.strength-meter-fill {
    background: transparent;
    height: inherit;
    position: absolute;
    width: 0;
    border-radius: inherit;
    transition: width 0.5s ease-in-out, background 0.25s;

    // Dynamically generate strength meter color styles
    @for $i from 1 through 5 {
        &[data-strength='#{$i - 1}'] {
            width: (20% * $i);
            background: nth($strength-colors, $i);
        }
    }
}
